#pai {
    overflow: hidden;
  }
  #filho {
  /*background-color: ; 
    margin: 50px -15%;
    */
    transform: rotate(-2deg);
    
  }
  #texto {
    margin-left: 15%;
    transform: rotate(2deg);
    line-height: 150px;
  }